/* There are two variations on the Roomr page:
1) room_default - Vertical tiling of members and large logo
2) room_members_in_banner - Horizontal banner with members

CSS common to both variations go here
*/

/*********** STRUCTURE **********/
body {
    margin: 0px;
    padding: 0px;
}
#room {
    padding-left: 20px;
    padding-right: 20px;
}

/***********   STYLE   **********/


