/*********** STRUCTURE **********/
body {
    margin: 0px;
    padding: 0px;
}
#room {
    padding-left: 20px;
    padding-right: 20px;
}
#members {
    position: fixed;
    width: 100%;
    background-color: #999;
    margin-top: -10px;
    /*height: 132px;  affects js */
}
#members, #stream ol {
    list-style: none;
    margin-left: -35px;
}
#members li {
    margin-left: 0px;
    float: left;
    width: 106px;
    background-color: #999;
    text-align: center;
    padding-top: 5px;
    line-height: 2;
}
#room-name {
    position: fixed;
    top: 100px;
}
#stream {
    position: fixed;
    top: 160px;
    overflow: scroll;
    border: solid 1px grey;
    margin-right: 20px
    /*height: js;*/
}
#editor {
    position: fixed;
    bottom: 0px;
    background-color: #666;
    width: 100%;
    height: 75px; /* affects js */
}
#editor textarea {
    margin-top: 10px;
}

#new-room-tab {
  position: absolute;
  right: 0px;
  top: 45%;
}

#new-room-stub {
  border: solid 1px blue;
  position: absolute;
  right: 0px;
  top: 35%;
  width: 320px;
}

/***********   STYLE   **********/


#room {
    background-color: #666;
    border: solid 1px #666;
}

#stream ol li {
    background-color: #DDD;
    line-height: 1.4;
    padding: 20px;
    margin-bottom: 5px;

}

#new-room-tab a {
  font-size: 4em;
  text-decoration: none;
  background: #5D9FAF;
  color: #344447;
  padding: 0.2em;
}
#new-room-tab a:hover {
  background: #538d9f;
  color: #121719;
}

#new-room-stub {

}