<html>
<head>
<title>{% block title %}Rooms{% endblock %}</title>
<link rel="stylesheet" media="screen,projection,tv" href="/css/persona.css" />
{% block pagecss %}{% endblock %}
</head>
<body>
<div id="wrapper">
<div id="signinpanel">
  <div id="current-user"></div>
<!--  ONLY SHOW UL FOR AUTH'D USERS-->
  <ul class="top-nav">
  <li><a id="signin-header-button" href="#" class="persona-button signin dark"><span>Sign in with Persona</span></a></li>
  <li><a id="new-room-button" href="#"><span>+ New Room</span></a></li>
  <li><a id="signout-button" class="signout" href="#"><span>Sign Out</span></a></li>
  </ul>
</div>
<div id="main">
<div id="new-room-stub"></div>
{% block body %}
Hello World
{% endblock %}
{% include "widget/new_user.html" %}
</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
<script src="https://login.persona.org/include.js"></script>
<script>
var currentUser = {{ currentUser }};
</script>
<script src="/js/auth.js"></script>
{% block pagejs %}{% endblock %}
<script>
{% if profile %}
  {% if not profile.name %}
    collectProfile();
  {% else %}
    $('body').trigger('page_loaded_user_ready');
  {% endif %}
{% endif %}
</script>
</body>
</html>
